.menu {
  list-style-type: circle;
  display: flex;
  margin-left: 20px;
}
.header {
  padding: 92px 24px 96px 24px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}


.main_photo {
  width: 148px;
  height: 105px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu_list {
  margin-left: 20px;
  white-space: nowrap;
}
.menu_list_no_list_style {
  margin-left: 20px;
  list-style: none;
}
.main_blog {
  display: block;
  align-self: center;
}

.main_blog_address {
  display: block;
  justify-self: end;
  font-size: 18px;
}
.wrapper {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  height: 757px;
}
.container {
  padding: 165px 50px 50px;
}

.banner_container {
  background-color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  width: 100%;
  height: 757px;
}
.banner_text {
  font-size: 100px;
  letter-spacing: 30px;
  color: white;
}

.letter_normal_spacing {
  letter-spacing: 30px;
}
.letter_big_spacing {
  letter-spacing: 60px;
}
.text_centered {
  display: flex;
  justify-content: center;
}
.letter_no_spacing {
  letter-spacing: 0px;
}

.text_right_end {
  
  display: flex;
  justify-content: right;
}
.banner_text_lower {
  color: white;
  font-size: 22px;
  font-weight: 100;
  font-family: Raleway, sans-serif;
  word-spacing: 18px;
  
}
.btn {
  border: 2px solid white;
  padding: 12px 32px;
  color: white;
  text-decoration: none;
}
.banner_footer {
  display: flex;
  padding: 136px 0px 0px;
  align-items: center;
  gap: 150px;
}
.container_lots {
  padding: 0px 24px;
}

.card {
  width: 334px;
  height: 563px;
  object-fit: cover;
}
.lots {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.lot_overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 60%;
  display: flex;
  justify-content: center;
}
.lot_block_img_1 {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
}
.lot_block_img_2 {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
}
.lot_block_img_3 {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
}
.lot_block {
  position: relative;
  width: 334px;
  height: 563px;
}

.lot_film_text,
.lot_book_text,
.lot_picture_text {
  color: white;
  font-size: 20px;
  width: 254px;
}

.lot_film_title_text,
.lot_book_title_text,
.lot_picture_title_text {
  color: white;
  font-size: 22px;
  width: 254px;
  text-decoration: underline;
  margin-top: 51px;
}
.lot_film_text_container {
  border: 2px solid black;
  height: 70%;
  display: flex;
  align-items: end;
}
.lot_picture_text {
  margin-top: 90px;
}
.text_title {
  margin-top: 179px;
  margin-bottom: 27px;
  margin-left: 40px;
  font-size: 40px;
}

.logo_white {
  width: 148px;
  height: 114;
}
.сircle {
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mini_third_section {
  display: flex;
  align-items: center;
}
.auction_title {
  padding-left: 72px;
  text-transform: uppercase;
  font-size: 40px;
}

.auction_strange_things_text,
.auction_cult_lots_text {
  font-size: 20px;
}
.hh {
  display: flex;
  width: 1000px;
  justify-content: right;
}
.auction_cult_lots_text {
  padding-top: 24px;
  width: 693px;
}
.auction_strange_things_text {
  width: 688px;
}
.logo_footer {
  width: 48px;
  margin-right: 40px;
  height: 48px;
}
.mini_footer {
  display: flex;
  justify-content: space-between;
}
ul {
  list-style-type: none;
}
.footer_menu {
  text-align: center;
}
.footer {
  padding: 180px 50px 88px 50px;
}
